#board {
    background-color: black;
	width: 600px;
	height: 400px;
	position: relative;
}

#snakehead {
    background-color: lightgreen;
    width: 20px;
    height: 20px;
    position: absolute; 
}

#apple {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}

.snakebody {
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
}

.but_start_game
{                      
    position: absolute;
    left: 200px;
    top: 170px;  
    height: 60px;
    width: 200px;          
    background-color: #f00;
    cursor: pointer;    
    border-radius: 15px;   
    border: 2px solid #f66;
    font-size: 28px;  
    line-height: 60px;
    font-weight: bold;            
    text-shadow: 0px 1px 1px #f99;
} 
.but_start_game:hover
{
    background-color: #f33;
}

