#board {
    background-color: black;
	width: 600px;
	height: 400px;
	position: relative;
}

#snakehead {
    background-color: lightgreen;
    width: 20px;
    height: 20px;
    position: absolute; 
}

#apple {
    background-color: red;
    width: 20px;
    height: 20px;
    position: absolute;
}

.snakebody {
    background-color: green;
    width: 20px;
    height: 20px;
    position: absolute;
}


